/* 
File: EventProgram.css Date: 2026-04-22

Author: Gunnar Liden

General information
====================

Defines all style classes for the application event program

*/

/* The whole page  */
.cl_div_event_program_page
{
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    width: 660px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden; 
}

/* The main page container <div> element */
.cl_main_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 400px;
}

/* The edit page container <div> element */
.cl_edit_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 400px;
}

/* The text page container <div> element */
.cl_text_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 400px;
}

/* For some <button> elements */
.cl_event_program_button
{
    border: solid 2px black;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    width: 95%;
}


/* Text logo <div> element */
.cl_div_event_program_text_logo
{
    /* border: solid 2px white; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;   
    width: 99.5%;
}
.cl_event_program_title
{
    /* border: solid 1px yellow; */
    width: 80%;

    float: left;
}

.cl_div_event_program_help_buttons
{
    /* border: solid 1px yellow; */
    width: 15%;
    overflow: hidden;   
    float: right;
}

/* Help and IT info buttons container <div> element */
.cl_div_event_program_help_button
{
    /* border: solid 2px red; */
    background-color: black;
    color: white;
    font-size: 5px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 70%;
    margin-top: 5px;
    clear: both;
}

/* Help and IT info button */
.cl_help_button
{
    border: solid 1px white; 
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    margin-left: 28px;
    cursor: pointer;
    height: auto;
    margin-top: 5px;
    float: right;
}

/* For all <label> elements */
label
{
    margin-left: 10px;
}

.cl_event_step_title
{
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    clear: both;   
}

/* ///////////////////////////// Start Main Page ///////////////////////////////////////// */

/* Storage container <div> element */
.cl_div_event_program_storage_dir
{
    border-bottom: dashed 3px blue;
    width: 100%;
    min-height: 30px;
    overflow: hidden;  
    clear: both;
}

/* Main develop/release <div> element */
.cl_div_event_program_main_dir
{
    /* border: solid 1px blue; */
    width: 45%;
    margin-left: 1%;  
    margin-bottom: 5px;
    float: left;
}

/* Main develop/release <div> element */
.cl_div_event_program_result_dir
{
    /* border: solid 1px blue; */
    width: 45%;
    margin-right: 1%;
    margin-bottom: 5px;
    float: right;
}

.cl_div_event_program_upload_xml_container
{
    
    width: 100%;
    overflow: hidden;  
    min-height: 60px;
    clear: both;   
}

.cl_div_event_program_upload_xml_textbox
{
    /* border: solid 1px red; */
    margin-left: 1%;
    width: 55%;
    float: left;
}

.cl_div_event_program_upload_xml_button
{
    /* border: solid 1px red; */
    margin-left: 3%;
    margin-top: 3px;
    width: 15%;
    float: left;  
}

.cl_div_event_program_download_xml_button
{
    /* border: solid 1px red; */
    margin-right: 3%;
    margin-top: 3px;
    width: 15%;
    float: right;  
}

.cl_div_popup_container
{
    border-bottom: dashed 3px blue;
    height: 40px;
    clear: both;
}

.cl_div_upload_xml_row
{
    /* border: solid 1px green; */
    border: solid 2px rgb(143, 50, 110);
    background-color: rgb(255, 174, 0);
    margin-top: 0px;
    margin-left: 0%;
    width: 99%;
    padding: 4px;  
    clear: both;   
}

.cl_div_event_program_select_container
{
    /* border: solid 1px yellow; */
    width: 100%;
    overflow: hidden;  
    min-height: 60px;
    clear: both;       
}

.cl_div_event_program_select_dropdown
{
    /* border: solid 1px green; */
    margin-left: 2%;
    width: 90%; 
    clear: both;  
}

.cl_div_event_program_select_buttons
{
    /* border: solid 1px yellow; */
    width: 95%;
    margin-left: 2%;
    overflow: hidden;   
    clear: both;
}

.cl_div_event_program_select_button
{
    /* border: solid 2px red; */
    font-size: 12px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 20%;
    margin-top: 2px;
    margin-right: 10%;
    min-height: 15px;
    float: right;
}

/* ///////////////////////////// End Main Page /////////////////////////////////////////// */

/* ///////////////////////////// Start Edit Page ///////////////////////////////////////// */

.cl_div_event_name
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_event_date_time
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_event_date
{
    /* border: solid 1px green; */
    width: 35%;
    float: left;
}

.cl_div_event_start_time
{
    /* border: solid 1px green; */
    width: 25%;
    margin-left: 10px;
    float: left;
}

.cl_div_event_end_time
{
    /* border: solid 1px green; */
    width: 25%;
    margin-left: 10px;
    float: left;
}

.cl_div_event_place_address
{
    /* border: solid 1px green; */
    width: 98%;
    margin-left: 2%;
    margin-top: 5px;
    overflow: hidden;   
    clear: both;
}
.cl_div_event_place
{
    /* border: solid 1px green; */
    width: 36%;
    float: left;
}
.cl_div_event_address
{
    /* border: solid 1px green; */
    width: 60%;
    margin-left: 10px;
    float: left;
}

.cl_div_event_organisation
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_event_text_buttons
{
    /* border: solid 1px green; */
    border-bottom: dashed 3px blue;
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_text_description_button
{
    /* border: solid 1px yellow; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.cl_div_text_prices_button
{
    /* border: solid 1px yellow; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.cl_div_text_prices_button
{
    /* border: solid 1px yellow; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.cl_div_text_pay_button
{
    /* border: solid 1px yellow; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;    
}

.cl_div_text_instructions_button
{
    /* border: solid 1px yellow; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
   float: left;                                                                                       
}

.cl_div_event_email_fields_button
{
    /* border: solid 1px green; */
    border-bottom: dashed 3px blue;
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_email_title
{
    /* border: solid 1px green; */
    width: 68%;
    float: left;
}

.cl_div_email_sender
{
    /* border: solid 1px green; */
    width: 18%;
    float: left;
}

.cl_div_email_content_title
{
    /* border: solid 1px green; */
    width: 68%;
    float: left;
}

.cl_div_email_content_button
{
    /* border: solid 1px green; */
    width: 18%;
    float: right;
}

.cl_div_event_cancel
{
    /* border: solid 1px green; */
     border-bottom: dashed 3px blue;
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_cancel_save_edit_buttons
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_save_record_button
{
    /* border: solid 1px green; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
    float: right;    
}

.cl_div_cancel_edit_record_button
{
    /* border: solid 1px green; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
    float: right;    
}

/* ///////////////////////////// End Edit Page //////////////////////////////////////////// */

/* ///////////////////////////// Start Text Page ///////////////////////////////////////// */

.cl_div_event_text_title
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_event_text_field
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    min-height: 200px;
    overflow: hidden;   
    clear: both;
}

.cl_div_event_cancel_exit_save_buttons
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 2%;
    margin-top: 5px;
    overflow: hidden;   
    clear: both;
}

.cl_div_exit_text_edit_button
{
    /* border: solid 1px green; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
    float: right;    
}

.cl_div_cancel_text_edit_button
{
    /* border: solid 1px green; */
    width: 128px;
    margin-left: 5px;
    margin-top: 5px;
    float: right;    
}

/* ///////////////////////////// End Text Page /////////////////////////////////////////// */
