/* 
File: ReservationNewLayout.css Date: 2025-06-06

Author: Gunnar Liden

General information
====================

Defines all style classes for the application reservation new layout

*/

/* The whole page  min-height: 360px; */
.cl_div_season_page
{
    border: solid 2px blue;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    width: 280px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden; 
    min-height: 370px;
}


/* Text logo <div> element */
.cl_div_season_text_logo
{
    /* border: solid 2px yellow; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;   
    width: 100%;
}

/* For all <label> elements */
label
{
    margin-left: 10px;
}

.cl_div_season_main_dir
{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 3%;
    clear: both;
}

.cl_div_season_result_dir
{
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 3%;
    clear: both;
}

.cl_div_upload_download_xml_row
{
    /* border: solid 1px green; */
    margin-top: 20px;
    min-height: 20px;
    overflow: hidden; 
    clear: both;   
}

.cl_div_upload_download_xml_textbox
{
    /* border: solid 1px red; */
    margin-left: 3%;
    font-size: 12px;
    font-style: italic;
    width: 93%;
    clear: both;
}

.cl_upload_download_xml_textbox
{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 2px;
}

.cl_progress_messages_textbox
{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

.cl_div_upload_xml_button
{
    /* border: solid 1px red; */
    margin-left: 3%;
    width: 40%;
    text-align: center;
    float: left;
}

.cl_div_download_xml_button
{
    /* border: solid 1px red; */
    margin-left: 3%;
    margin-right: 3%;
    width: 40%;
    text-align: center;
    float: left;
}

.cl_div_popup_container
{
    /* border: solid 1px green; */
    height: 40px;
    clear: both;
}

.cl_div_upload_xml_row
{
    /* border: solid 1px green; */
    border: solid 2px rgb(143, 50, 110);
    background-color: rgb(255, 174, 0);
    margin-top: 0px;
    margin-left: 0%;
    width: 99%;
    padding: 4px;  
    clear: both;   
}

.cl_div_create_layout_files_row
{
    /* border: solid 1px green; */
    margin-top: 15px;
    min-height: 20px;
    overflow: hidden;  
    clear: both;   
}

.cl_div_create_layout_files_button
{
    margin-left: 3%;
    margin-right: 3%;
    width: 90%;
    float: left;
}

.cl_div_message_row
{
    /* border: solid 1px green; */
    margin-left: 3%;
    margin-top: 15px;
    min-height: 20px;
    clear: both;   
}

/* For some <button> elements */
button
{
    border: solid 2px black;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 95%;
}