/* 
File: ReservationCreateLayout.css Date: 2026-05-14

Author: Gunnar Liden

General information
====================

Defines all style classes for the application reservation layout create page.

*/

/* The whole page  */
.cl_div_create_layout_page
{
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    width: 660px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden; 
}

/* Text logo <div> element */
.cl_div_create_layout_text_logo
{
    /* border: solid 2px white; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;   
    width: 99.5%;
}
.cl_create_layout_title
{
    /* border: solid 1px yellow; */
    width: 80%;

    float: left;
}

.cl_create_program_title
{
    /* border: solid 1px yellow; */
    width: 80%;

    float: left;
}

/* For all <label> elements */
label
{
    font-weight: normal
}

/* Help and IT info button */
.cl_help_button
{
    border: solid 1px white; 
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    margin-left: 28px;
    cursor: pointer;
    height: auto;
    margin-top: 5px;
    margin-right: 15px;
    float: right;
}

.cl_create_step_title
{
    width: 100%;
    padding: 15px;
    margin-top: 3px;
    clear: both;   
}


/* The start page container <div> element */
.cl_start_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 200px;
}

.cl_div_create_layout_result_dir
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 15px;
    padding-bottom: 10px;
    overflow: hidden; 
}

.cl_div_result_dir_message
{
    /* border: solid 1px red; */
    width: 95%;
    font-style: italic;
    margin-left: 15px;
    padding-bottom: 10px;
    clear: both;
}

.cl_div_create_new_xml_button
{
    /* border: solid 1px red; */
    border-bottom: dashed 3px blue;
    margin-left: 15px;
    width: 95%;
    padding-bottom: 10px;
    clear: both;
}

.cl_div_select_layout_elements_container
{
    border: solid 1px green;
    min-height: 85px;
    width: 100%;
    clear: both;
}

.cl_div_select_element_dropdown
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 15px;
    margin-top: 10px;
    padding: 5px;
    clear: both;
}

/* The table group page container <div> element */
.cl_table_group_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 200px;
}

.cl_div_table_group_container
{
    /* border: solid 1px red; */
    border-bottom: dashed 3px blue;
    width: 95%;
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden; 
    clear: both;
}

.cl_div_table_group_left_container
{
    /* border: solid 1px green; */
    width: 30%;
    margin-left: 0px;
    padding-bottom: 3px;
    overflow: hidden; 
    float: left;
}

.cl_div_table_group_name_text_container
{
    /* border: solid 1px blue; */
    width: 95%;
    margin-left: 0px;
    padding-bottom: 3px;
    overflow: hidden; 
    clear: both;
}

 /* The table in group container <div> element */
.cl_table_in_group_container_div
{
    border: solid 2px blue;
    margin-left: 10px;
    margin-top: 5px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    float: left;
}

.cl_div_table_group_right_container
{
    border: solid 1px green;
    width: 65%;
    margin-left: 15px;
    padding-bottom: 3px;
    min-height: 80px;
    overflow: hidden; 
    float: left;
}

.cl_div_table_group_exit_container
{
    /* border: solid 1px red; */
    width: 95%;
    margin-left: 15px;
    padding-bottom: 3px;
    overflow: hidden; 
    clear: both;
}

/* The table page container <div> element */
.cl_table_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 200px;
}

.cl_div_table_page_text_boxes
{
    /* border: solid 1px green; */
    width: 95%;
    margin-left: 15px;
    padding-bottom: 3px;
    overflow: hidden; 
    clear: both;
}

.cl_table_page_property_textbox
{
    /* border: solid 1px yellow; */
    margin-left: 15px;
    padding-bottom: 3px;
    float: left;
}

.cl_div_table_page_number_seats
{
    /* border: solid 1px red; */
    margin-left: 15px;
    padding-bottom: 3px;
    float: left;
}

.cl_div_table_page_number_button
{
    /* border: solid 1px blue; */
    margin-left: 5px;
    padding-bottom: 3px;
    width: 45px;
    text-align: center;
    cursor: pointer;
    float: left;
}

/* The plus and minus buttons for the number of seats in the table page */
.cl_table_page_number_button
{
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.cl_div_display_table_container
{
    /* border: solid 1px red; */
    width: 55%;
    margin-left: 20%;
    padding-top: 10px;
    padding-bottom: 3px;
    overflow: hidden; 
    min-height: 200px;
    clear: both;
}

.cl_div_display_table_column_left_right
{
    /* border: solid 1px green; */
    width: 60px;
    min-height: 195px;
    margin-left: 0px;
    text-align: center;
    padding-bottom: 3px;
    overflow: hidden; 
    float: left;
}

.cl_div_display_table_column_mid
{
    /* border: solid 1px green; */
    width: 120px;
    min-height: 195px;
    margin-left: 0px;
    text-align: center;
    padding-bottom: 3px;
    overflow: hidden; 
    float: left;
}

.cl_div_display_table_seat
{
    border: solid 3px black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: yellow;
    margin: 5px;
    text-align: center;
    font-size: 11px;
    padding-bottom: 3px;
    overflow: hidden; 
    cursor: pointer;
    clear: both;
}

.cl_div_display_table_seat_upper_lower
{
    border: solid 3px black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 35px;
    text-align: center;
    font-size: 11px;
    padding-bottom: 3px;
    overflow: hidden; 
    cursor: pointer;
    clear: both;
}

.cl_div_display_table_seat_upper
{
    border: solid 3px white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
    text-align: center;
    font-size: 11px;
    padding-bottom: 3px;
    overflow: hidden; 
    clear: both;
}

.cl_div_display_table_in_mid_container
{
    border: solid 1px black;
    width: 95%;
    min-height: 35px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden; 
    clear: both;
}


.cl_div_exit_button
{
    /* border: solid 1px green; */
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    float: right;
}

.cl_div_layout_model_view
{
    border: solid 1px red;
    width: 98%;
    margin: 1%;
    
    /* min-height: 1200px; */

    clear: both;
}

.cl_div_layout_graphics_pos_relative
{
    position: relative;
    width: 96%;
    height: 96%;
    margin: 1%;
    
    clear: both;
}

.cl_div_table_rectangle_pos_absolute
{
    position: absolute;
    border: solid 2px black;
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
}