/* 
File: ReservationCards.css Date: 2026-03-02

Author: Gunnar Liden

General information
====================

Defines all style classes for the application reservation cards layout

*/

/* The whole page */
.cl_div_cards_page
{
    border: solid 2px blue;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    width: 265px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden; 
    min-height: 270px;
}


/* Text logo <div> element */
.cl_div_cards_text_logo
{
    /* border: solid 2px yellow; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;   
    width: 100%;
}

.cl_div_cards_result
{
    /* border: solid 2px red; */
    font-family: 'Arial';
    font-size: 12px;
    font-weight: bold;
    width: 750px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;

    min-height: 420px;
}    

/* For all <label> elements */
label
{
    margin-left: 10px;
}

.cl_div_xml_data_dir
{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 3%;
    clear: both;
}

.cl_div_cards_result_dir
{
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 3%;
    clear: both;
}

.cl_div_name_cards_row
{
    /* border: solid 1px yellow; */
    margin-top: 10px;
    clear: both;   
}

.cl_div_ticket_cards_row
{
    /* border: solid 1px yellow;  */
    margin-top: 10px;
    clear: both;   
}

.cl_div_cards_bottom_row
{
    /* border: solid 1px yellow; */
    margin-top: 10px;
    clear: both;
}

.cl_div_ticket_cards_button
{
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}

.cl_div_name_cards_button
{
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}

/* For some <button> elements */
button
{
    border: solid 2px black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 95%;
}


/* Image <img> Elemente in <div> element logo */
.cl_jazz_notes_title img
{
    margin-left: 10px;
    margin-right: 10px;
}


