/* 
File: ReservationNewLayout.css Date: 2025-12-03

Author: Gunnar Liden

General information
====================

Defines all style classes for the application reservation new layout

*/

/* The whole page  */
.cl_div_layout_page
{
    border: solid 2px blue;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    width: 280px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden; 
    min-height: 400px;
}


/* Text logo <div> element */
.cl_div_layout_text_logo
{
    /* border: solid 2px yellow; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;   
    width: 100%;
}

/* For all <label> elements */
label
{
    margin-left: 10px;
}

.cl_div_layout_main_dir
{
    /* border-bottom: dashed 3px blue; */
    padding-bottom: 5px;
    padding-left: 5%;
    margin-top: 1px;
    margin-bottom: 1px;
    clear: both;
}

.cl_div_layout_result_dir
{
    border-bottom: dashed 3px blue;
    padding-bottom: 5px;
    padding-left: 5%;
    margin-top: 3px;
    margin-bottom: 5px;
    
    clear: both;
}

.cl_div_copy_files
{
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 3%;
    clear: both;
}

.cl_div_upload_download_xml_row
{
    border-top: dashed 3px blue;
    padding-top: 3px;
    margin-top: 5px;
    min-height: 20px;
    overflow: hidden; 
    clear: both;   
}

.cl_div_upload_download_xml_textbox
{
    /* border: solid 1px red; */
    margin-left: 3%;
    font-size: 12px;
    font-style: italic;
    width: 93%;
    clear: both;
}

.cl_upload_download_xml_textbox
{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 2px;
}

.cl_progress_messages_textbox
{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

.cl_div_upload_xml_button
{
    /* border: solid 1px red; */
    margin-left: 3%;
    width: 40%;
    text-align: center;
    float: left;
}

.cl_div_download_xml_button
{
    /* border: solid 1px red; */
    margin-left: 3%;
    margin-right: 3%;
    width: 40%;
    text-align: center;
    float: left;
}

.cl_div_popup_container
{
    border-bottom: dashed 3px blue;
    height: 40px;
    clear: both;
}

.cl_div_upload_xml_row
{
    /* border: solid 1px green; */
    border: solid 2px rgb(143, 50, 110);
    background-color: rgb(255, 174, 0);
    margin-top: 0px;
    margin-left: 0%;
    width: 99%;
    padding: 4px;  
    clear: both;   
}

.cl_div_create_layout_files_row
{
    border-bottom: dashed 3px blue;
    padding-bottom: 5px;
    padding-left: 5%;
    margin-top: 5px;
    min-height: 20px;
    overflow: hidden;  
    clear: both;   
}

.cl_div_create_layout_files_button
{
    margin-left: 3%;
    margin-right: 3%;
    width: 90%;
    float: left;
}

.cl_div_test_apps_row
{
    /* border-bottom: dashed 3px blue; */
    padding-bottom: 5px;
    padding-left: 2%;
    margin-top: 5px;
    min-height: 20px;
    overflow: hidden;  
    clear: both;   
}
.cl_div_test_apps_row_tw
{
    /* border-bottom: dashed 3px blue; */
    padding-bottom: 5px;
    padding-left: 2%;
    margin-top: 1px;
    min-height: 10px;
    overflow: hidden;  
    clear: both;   
}

.cl_div_show_layout_button
{
    margin-left: 2px;
    margin-right: 0px;
    width: 24%;
    float: left;
}

.cl_div_reservation_admin_button
{
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 19px;
    width: 24%;
    float: left;
}

.cl_div_reservation_search_button
{
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 19px;
    width: 24%;
    float: left;
}

.cl_div_reservation_make_button
{
    /* border: solid 1px red; */
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 19px;
    width: 24%;
    float: left;
    overflow: hidden;  
}

/* For some <button> elements */
button
{
    border: solid 2px black;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 95%;
}